.mtf {padding-top: 2.36rem;}
#carousel {margin-top: 0.08rem;}
.modules_icon {color: #d43c33;border:1px solid #d43c33; padding: .2rem;border-radius: 100%;}
#modules_title {margin: .4667rem 0 .2667rem 0;padding-left: .2667rem;border-left: 5px solid #d43c33;}
.more {text-align: right;padding-right: 1%;color: #999;}
.playCount {position: absolute;width: 100%;text-align: right;background-color: rgba(0, 0, 0, 0.2);color: #fff;}
.single_sheet {width: 32%;margin-right: 1%;box-sizing: border-box;display: inline-block;position: relative;}
.single_sheet img {width: 100%;}
.sheet_name {overflow: hidden;text-overflow:ellipsis;-webkit-line-clamp:2;    display: -webkit-box;-webkit-box-orient: vertical;min-height: 1rem;}
.my-swipe {height: 4rem;color: #fff;font-size: 30px;text-align: center;}
#toploadingText {text-align: center;margin-bottom: .2667rem;}
#index_search {border: none;width: 100%;border-radius: .4667rem;height: 1rem;padding-left: .8667rem;}
.index_search_warp {padding: .1333rem .6667rem;}
#search_icon {position: absolute;padding:0.2867rem .1333rem;}
#tabs {background-color: #fff;}
.title_warp {padding: .1333rem .6667rem;}
.tabs_warp {padding:.1333rem 0;position: relative;}
.item_active {color: #d43c33;}
.tabs_active_border{position: absolute;bottom:-2px;left:0;transition: transform 300ms;-webkit-transition: -webkit-transform 300ms;}
.tabs_active_border:after{content:"";display:block;width:60%;height:2px;margin:0 auto;background-color: #DD2727;}
.topFixed {position: fixed;top: 0;left: 0;z-index: 99;width: 100%;}
.songIndex {width: 1.5rem;text-align: center;}
.songItem {padding: .3rem .5rem 0 0;line-height: .6667rem;}
.itemBorder {border-bottom: 1px solid #eee;}
.singInfo {padding: .0677rem 0;overflow: hidden;text-overflow:ellipsis;-webkit-line-clamp:1;    display: -webkit-box;-webkit-box-orient: vertical;}
.ant-carousel .slick-slide {
  text-align: center;
  height: 160px;
  line-height: 160px;
  background: #364d79;
  color: #fff;
  overflow: hidden;
}